
/* booking movie */
.booking-movie .chair-booking .booked {
	background-color: orange;
	color: white;
  }
  .booking-movie .chair-booking .vip {
	background-color: red;
	color: white;
  }
  .booking-movie .chair-booking .vip:hover {
	background-color: white;
	color: red;
	border-color: red;
  }
  
  .booking-movie .chair-booking .selected {
	background-color: rgb(25, 218, 25);
	color: white;
	border: none !important;
  }
  /* max-width: 640px ---------------------------------------------------------------------------------------- */
  
  @media (max-width: 639px) {
	.booking-movie .bill{
	  margin-top: 10px;
	}
	.booking-movie .bill .booked-detail{
	  display: flex;
	  justify-content: space-between;
	}
  }