:root {
  --header-height: 80px;
  --max-width: 1536px;
  --primary-color: #e50914;
  --secondary-color: #111;
}

.cinema-zone .cinema-list {
  height: 516px;
}
.cinema-zone .cinema-location {
  border: 2px solid transparent;
}
.cinema-zone .cinema-location h3 {
  font-weight: 600;
  color: #111;
  line-height: 2;
}
.cinema-zone .cinema-list .ant-card {
  width: 80px;
  height: 80px;
  margin-bottom: 6px;
}
.cinema-zone .cinema-schedule-wrapper,
.cinema-zone .cinema-location,
.cinema-zone .cinema-schedule {
  height: 512px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}
.cinema-zone .cinema-schedule-wrapper::-webkit-scrollbar,
.cinema-zone .cinema-location::-webkit-scrollbar,
.cinema-zone .cinema-schedule::-webkit-scrollbar {
  width: 8px;
}
.cinema-zone .cinema-schedule-wrapper::-webkit-scrollbar-track,
.cinema-zone .cinema-location::-webkit-scrollbar-track,
.cinema-zone .cinema-schedule::-webkit-scrollbar-track {
  background: transparent;
}
.cinema-zone .cinema-schedule-wrapper::-webkit-scrollbar-thumb,
.cinema-zone .cinema-location::-webkit-scrollbar-thumb,
.cinema-zone .cinema-schedule::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}
.cinema-zone .cinema-movie {
  height: 200px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #111;
}
.cinema-zone .cinema-movie img {
  height: 100px;
}
.cinema-zone .cinema-schedule-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.cinema-zone .cinema-schedule-movie img {
  height: 142px;
  width: 100%;
}
.cinema-zone .cinema-schedule-movie h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.3;
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cinema-zone .cinema-schedule-movie .showtimes {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.cinema-zone .cinema-schedule-movie .showtimes p {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  flex-grow: 1;
  max-width: 100px;
  min-width: 52px;
}
.cinema-zone .cinema-schedule-movie .showtimes p:hover {
  color: red;
  background-color: #ccc;
  cursor: pointer;
}

.selected {
  border: 2px solid #ff6347 !important;
}

.ant-card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 300px;
}
.ant-card.hover {
  transform: scale(1.05);
}
.ant-card .ant-card-cover img {
  height: 200px;
  width: 180px;
}
.ant-card .ant-card-body {
  padding: 8px !important;
}
.ant-card .ant-popover-content {
  z-index: 999999;
}

.search-input {
  padding: 8px;
  width: 695px;
  margin: 0 auto;
  color: #000;
  outline: none;
}
@media screen and (max-width: 768px) {
  .search-input {
    width: 90%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 450px;
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}/*# sourceMappingURL=style.css.map */