@tailwind base;
@tailwind components;
@tailwind utilities;

/* RegisterTemplate */
@media (max-width: 450px) {
  .auth-form {
    width: 100%;
  }
}

/* SwiperCarousel*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 450px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

/* AntCard */
.ant-card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 300px;
}
.ant-card-cover img {
  height: 200px;
  width: 180px;
}
.ant-card-body {
  padding: 8px !important;
}

.ant-card:hover {
  transform: scale(1.05);
}